html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    width: 40%;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    background-color: khaki;
}

.players-board {
    background: papayawhip;
    padding: 10px;
}

.player {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.player:last-child {
    margin: 0;
}

.player__name {
    padding: 10px;
    border: 1px solid black;
}

.player__name_me {
    background-color: yellow;
}

.player__status {
    padding: 10px;
    border: 1px solid black;
    background-color: coral;
    cursor: pointer;
}

/* .start-game {
    padding: 10px;
    border: 1px solid black;
    align-self: center;
    margin: 10px;
    /* align-self: center; */
} */
