html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    user-select: none;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

.status-bar {
    display: flex;
}

.wrap {
	padding: 20px;
	display: flex;
}

.tile, .tile-border {
  /*старые значения*/
	/*width: 146px;
	height: 146px;*/

  /*точные значения*/
  /*width: 151.173px;
  height: 151.173px;*/

  width: 151px;
  height: 151px;

	cursor: pointer;
	user-select: none;

	/*background-color: black;*/
	border-radius: 100%;
	position: relative;
}

.tile__image {
	pointer-events: none;
	position: absolute;
	top: -12px;
	/*opacity: 0.7;*/
}

.tile-border__visual {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  /*background: yellowgreen;*/
  background: radial-gradient(circle, red, yellow);
  opacity: 0.7;
  position: absolute;
  top: 54.75px;
  left: 54.75px;
  transform: scale(1, 1);
  transition: 200ms;
}

.tile-border__visual:hover {
  transform: scale(1.5, 1.5);
  transition: 200ms;
}

.tile-grid {
	position: absolute;
	bottom: 10px;
  left: 10px;
  background-image: url("../pictures/tile-grid-shell.png");
  background-repeat: no-repeat;
  width: 756.5px;
  height: 438px;
}

.tile-grid__row {
	display: flex;
}

.tile-grid__row:nth-child(2n + 1) {
	margin-left: 76px;
}

.tile-grid__row_first {
  margin-top: 13px;
}

.tile-grid__row_second {
	top: -21px;
  position: relative;
}

.tile-grid__row_third {
	top: -41px;
  position: relative;
}



.tile-border_active {
	border: 5px solid red;
}

.tile-border__image {
	pointer-events: none;
}

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 175px;
  border: 3px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card__front, .flip-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Style the front side (fallback if image is missing) */
.flip-card__front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card__back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}