:root {
  --diceSide: 70px;
  --diceBorder: 2px;
  --placePadding: 2px;
  --diceMargin: 5px;
  --diceSize: calc(var(--diceSide) + 2 * var(--diceBorder) + 2 * var(--diceMargin));
}
body {
	cursor: default;
    user-select: none; /* Non-prefixed version, currently */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.playerBoard {
    text-align: center;
    background: radial-gradient(white, lightgray);
    font-weight: 500;
	border: 1px solid darkgray;
    min-height: calc(var(--diceSize) + 2%);
    visibility: hidden;
}
.place1 {
	position: absolute;
	border-radius: 0 10px 10px 0;
	top: 30%;
	left: 0;
	width: calc(var(--diceSize)*2);
    max-height: calc(var(--diceSize)*5 + 2%);
    padding-left: var(--placePadding);
}
.place2 {
	position: absolute;
	border-radius: 0 10px 0 0;
	bottom: 0;
	left: 0;
	min-width: calc(var(--diceSize)*2);
	max-width: calc(var(--diceSize)*5);
    max-height: calc(var(--diceSize)*2 + 2%);
    padding-left: var(--placePadding);
    padding-bottom: var(--placePadding);
}
.place3 {
	position: absolute;
	border-radius: 10px 10px 0 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
	min-width: calc(var(--diceSize)*2);
	max-width: calc(var(--diceSize)*5);
    max-height: calc(var(--diceSize)*2 + 2%);
    padding-bottom: var(--placePadding);
}
.place4 {
	position: absolute;
	border-radius: 10px 0 0 0;
	bottom: 0;
	right: 0;
	min-width: calc(var(--diceSize)*2);
	max-width: calc(var(--diceSize)*5);
    max-height: calc(var(--diceSize)*2 + 2%);
    padding-bottom: var(--placePadding);
    padding-right: var(--placePadding);
}
.place5 {
	position: absolute;
	border-radius: 10px 0 0 10px;
	top: 30%;
	right: 0;
	width: calc(var(--diceSize)*2);
    max-height: calc(var(--diceSize)*5 + 2%);
    padding-right: var(--placePadding);
}
#trash {
	position: absolute;
	border-radius: 0 0 10px 10px;
	width: calc(var(--diceSize)*4);
	top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: var(--placePadding);
}
#board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	height: calc(var(--diceSize)*4);
}
#board a button{
    width: 500px;
    height: 30%;
    font-size: calc(var(--diceSide)*0.8);
    font-weight: 500;
    background: rgb(220,220,220);
	border: 1px solid darkgray;
}
#board a button:hover{
    background: rgb(240,240,240);
}
#board a:first-child button{
	border-radius: 20px 20px 0 0;
}	
#board a:last-child button {
	border-radius: 0 0 20px 20px;
}
.dice {
    position: relative;
	width: var(--diceSide);
	height: var(--diceSide);
	font-weight: bold;
	font-size: calc(var(--diceSide)*0.9);
	text-align: center;
	border-radius: 10px;
	border: var(--diceBorder) solid black;
	display: inline-block;
	margin: var(--diceMargin); 
}
#ghostDice {
    position: relative;
	width: var(--diceSide);
	height: var(--diceSide);
	font-weight: bold;
	font-size: calc(var(--diceSide)*0.9);
	text-align: center;
	border-radius: 10px;
	border: var(--diceBorder) dashed gray;
	display: inline-block;
	margin: var(--diceMargin); 
}
.black {
	color: white;
    background: radial-gradient(rgb(90,90,90), rgb(50,50,50));
}
.white {
	color: black;
    background: radial-gradient(white, lightgray);
}